<section class="blog-post">
  <article class="post-content">
    Ten years ago, I started Oliver’s Table with a sole goal. That goal was to prepare and serve food that 
    tastes great. Having worked for 15 years as chef in two well established restaurants, I knew that 
    preparing and serving delicious food is the rightful cornerstone of any truly successful restaurant. Great 
    food begins with phenomenal ingredients.
    <br><br>
    A year before I started the restaurant, I traveled the world in search of food providers who grew crops 
    without pesticide use, and who treated animals humanely the entire duration of their lives. 
    While often unable to be stable suppliers due to the stringent ethical constraints they adopted, I knew 
    these types of wholesome, ethical, and hardworking suppliers were the only ones I would trust to put food
    on our Table.
    <br><br>
    This lack of stability from the many suppliers required Oliver’s Table to have a diverse menu which was
    a daunting task. We adopted tablet menus to facilitate easy updates to customers about what was 
    available. We also created a quick sanitization system to provide fresh, sterile and finger print free tablets 
    to each set of guests. 
    <br><br>
    While the technology at Oliver’s Table provides a modern aesthetic, you will still find a comfortable relaxed
    atmosphere where you can enjoy responsibly sourced food. Nothing is better than enjoying the highest
    quality food while being at ease among friends and family. We hope to see you soon at our Table. 
  <br><br>
  Sincerely,
  <h4 class="about-signature">Oliver Stone</h4>
  </article>
</section>
