<form id="contact-modal" class="mobile-navigation-modal">
  <div id="contact-modal-content" class="main-content-container white-background contact-modal-margins-padding">

      <button type="button" id="close-contact-modal-button" class="close-contact-modal">x</button>
    <div class="contact-modal-inner-content">
      <h1 class="contact-header">Hello there</h1>
      <h5 class="contact-subheader">We are eager to hear from you.</h5>
      <h3 class="contact-cta">Let's</h3>
      <div id="next-modal-options-container">
        <div class="contact-modal-button-container">
          <button type="button" class="contact-modal-button" data-selected="false" data-content="reservation"></button>
          <span class="contact-modal-button-label">Make reservations</span>
        </div>
        <div class="contact-modal-button-container">
          <button type="button" class="contact-modal-button" data-selected="false" data-content="comment"></button>
          <span class="contact-modal-button-label">Make a comment</span>
        </div>
        <div class="contact-modal-button-container">
          <button type="button" class="contact-modal-button" data-selected="false" data-content="question"></button>
          <span class="contact-modal-button-label">Ask a question</span>
        </div>
      </div>
      <button type="button" class="contact-modal-confirm-button" id="contact-modal-next">Next</button>
    </div>
  </div>
</form>
