<section class="event-section">
  <img class="event-image" src="images/wine-tray.png">
  <h3 class="event-name">New Wineries Exclusive Tasting</h3>
  <h4 class="date">Date: March 24th 2018</h4>
  <h4 class="time">Time: 6:00pm</h4>
  <header class="event-description">
    Come join us as we sample a broad palette of wines from brand new wineries. You will enjoy novel creations from pioneers in the art of crafting exquisite wine experiences. These leaders are making the same impact on winemaking as microbrewerys had on beer making...
  </header>
  <a class="read-more-link">Read more</a>
  <div class="end-of-section-line"></div>
  <img class="event-image" src="images/coffee-cup-beans.png">
  <h3 class="event-name">Fundraise for global communities</h3>
  <h4 class="date">Date: April 24th 2018</h4>
  <h4 class="time">Time: 9:00am</h4>
  <header class="event-description">
    Come greet the morning with us on the 24th. We will be showcasing a variety of different coffee roasts from across the globe. All proceeds from this event will go to benefit the towns that support the various coffee companies that supplied us with these flavorful samples...
  </header>
  <a class="read-more-link">Read more</a>
  <div class="end-of-section-line"></div>
</section>
