<section class="menu-section">
  <img class="menu-featured-image" src="images/salad-parts.png">
  <h3 class="menu-section-label">Salads</h3>
  <section class="menu-section-items">
    <div class="menu-item">
      <h4 class="menu-item-name">
        Herb Salad
      </h4>
      <header class="menu-item-description">
        A delightful medley of chives, basil, tarragon, and lettuce. Dressed lightly with olive oild and seasoned with a sprinkle of salt and pepper
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Tomato-Peach Salad
      </h4>
      <header class="menu-item-description">
        A delightful medley of chives, basil, tarragon, and lettuce. Dressed lightly with olive oild and seasoned with a sprinkle of salt and pepper
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Caesar Salad
      </h4>
      <header class="menu-item-description">
        A delightful medley of chives, basil, tarragon, and lettuce. Dressed lightly with olive oild and seasoned with a sprinkle of salt and pepper
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
  </section>
  <div class="more-menu-items-container">
    <a class="more-menu-items">
      See more
    </a>
  </div>
  <div class="end-of-section-line"></div>
  <img class="menu-featured-image" src="images/salmon.png">
  <h3 class="menu-section-label">Entrees</h3>
  <section class="menu-section-items">
    <div class="menu-item">
      <h4 class="menu-item-name">
        Broiled Salmon
      </h4>
      <header class="menu-item-description">
        Freshly caught salmon fillet served with a delightful medley of sauteed garden vegetables. Served on a bed of seasoned brown rice.
      </header>
      <h5 class="price-tag">Price:$ 15.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Portobello Mushroom
      </h4>
      <header class="menu-item-description">
        A fulfilling portobello mushroom stuffed with vegetables of the day. Held together with parmesian cheese all atop a bed of brown rice
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Chicken Saltimbocca
      </h4>
      <header class="menu-item-description">
        Chicken wrapped with proscuitto seasoned with pepper and topped with a few sage leafs. Served with freshly baked bread, and a side of seasonal vegetables.
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
  </section>
  <div class="more-menu-items-container">
    <a class="more-menu-items">
      See more
    </a>
  </div>
  <div class="end-of-section-line"></div>
  <img class="menu-featured-image" src="images/dark-background-cheese-cake.png">
  <h3 class="menu-section-label">Dessert</h3>
  <section class="menu-section-items">
    <div class="menu-item">
      <h4 class="menu-item-name">
        Apple Pie
      </h4>
      <header class="menu-item-description">
        A flaky light crust contains the delightful mixture of cinnamon, apple slices, and our special apple syrup that will be sure to delight.
      </header>
      <h5 class="price-tag">Price:$ 9.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Tiramisu
      </h4>
      <header class="menu-item-description">
        Oliver's favorite dessert. Made with a special blend of espresso made only for the Table. This otherwise standard Tiramisu will be sure to delight
      </header>
      <h5 class="price-tag">Price:$ 10.00</h5>
    </div>
    <div class="menu-item">
      <h4 class="menu-item-name">
        Key Lime Pie
      </h4>
      <header class="menu-item-description">
        A deliciiously tart Key Lime pie. With a cinnamon graham cracker crust and lush whipped cream will make for a light and sweet end to the evening.
      </header>
      <h5 class="price-tag">Price:$ 7.00</h5>
    </div>
  </section>
  <div class="more-menu-items-container">
    <a class="more-menu-items">
      See more
    </a>
  </div>
  <div class="end-of-section-line"></div>
</section>

