<%- include navbar-modal.html %>
<nav class="navbar">
  <div class="main-content-container clear navbar-content-container">
  <a href="/" class="site-title">Oliver's Table</a>
  <ul class="navbar-items">
    <li class="navbar-item">
      <a href="/">
        news
      </a>
    </li>
    <li class="navbar-item">
      <a href="/menu">
        menu
      </a>
    </li>
    <li class="navbar-item">
      <a href="events">
        events
      </a>
    </li>
    <li class="navbar-item">
      <button id="open-contact-form" class="navbar-button">
        contact
      </button>
    </li>
    <li class="navbar-item">
      <a href="/about">
        about
      </a>
    </li>
  </ul>
  <button class="clear-button mobile-navigation" id="mobile-navigation-button" data-state="closed">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </button>
  </div>
</nav>
