<!--
Mobile navigation modal
-->

<div id="mobile-navigation-modal" class="mobile-navigation-modal" >
  <div class="main-content-container">
    <button alt="Close navigation modal" id="close-navigation-modal-button">x</button>
    <h1 class="mobile-navigation-modal-title">Oliver's Table</h1>
    <a class="mobile-navigation-modal-link" href="/">news</a>
    <a class="mobile-navigation-modal-link navigation-option-spacing" href="/menu">menu</a>
    <a class="mobile-navigation-modal-link navigation-option-spacing" href="/events">events</a>
    <button id="mobile-open-contact-form" class="clear-button mobile-navigation-modal-button navigation-option-spacing">contact</button>
    <a class="mobile-navigation-modal-link navigation-option-spacing" href="/about">about</a>
  </div>
</div>
