<!--
Mobile navigation modal
-->

<div id="mobile-navigation-modal" class="mobile-navigation-modal" >
  <div class="main-content-container">
    <h1 class="mobile-navigation-modal-title">Oliver's Table</h1>
    <a class="mobile-navigation-modal-link">news</a>
    <a class="mobile-navigation-modal-link navigation-option-spacing">menu</a>
    <a class="mobile-navigation-modal-link navigation-option-spacing">events</a>
    <button class="clear-button mobile-navigation-modal-button navigation-option-spacing">contact</button>
    <a class="mobile-navigation-modal-link navigation-option-spacing">about</a>
  </div>
</div>
