<section>
  <img class="news-image" src="images/wine-bowl-orange-with-stars-crop.png" alt="glass of wine with 3 michelin stars">
  <h3 class="news-title">
    Awarded Michelin 3 star rating
  </h3>
  <header class="news-excerpt">
    Oliver's table located in beautiful Boulder Colorado brings warmth into refined modern dining experience. Oliver Stone's unique approach to acquiring food responsibly both locally and abroad results in an exiquisite meal that will leave you speechless..."
  </header>
  <a href="#" class="read-more-link">Read more</a>
  <div class="end-of-section-line"></div>
</section>
