<section class="news-section clear">
  <img class="news-image" src="images/wine-bowl-orange-with-stars-crop.png" alt="glass of wine with 3 michelin stars">
  <h3 class="news-title">
    Awarded Michelin 3 star rating
  </h3>
  <header class="news-excerpt">
    "Oliver's table located in beautiful Boulder Colorado brings warmth into refined modern dining experience. Oliver Stone's unique approach to acquiring food responsibly both locally and abroad results in an exiquisite meal that will leave you speechless..."
  </header>
  <a href="#" class="read-more-link">Read more</a>
  <div class="end-of-section-line clear"></div>
</section>
<section class="news-section clear">
  <img class="news-image" src="images/meat-vegetables-964-300.png" alt="glass of wine with 3 michelin stars">
  <h3 class="news-title">
    Partnership with Memphis Meats
  </h3>
  <header class="news-excerpt">
    Oliver's table has always taken the ethical responsibilites that comes with serving food earnestly. We take pride in our food's preparation from farm to table. We ensure the vegetables were grown without pesticides, and that animals were provided a rich fulfilling life. Now we can take that even further...
  </header>
  <a href="#" class="read-more-link">Read more</a>
  <div class="end-of-section-line clear"></div>
</section>
