<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="stylesheets/font-awesome.css" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/universal.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/navbar.less" type="text/css" />
    <link rel="stylesheet/less" href="stylesheets/footer.less" type="text/css"/>
    <link rel="stylesheet/less" href="stylesheets/event-component.less" type="text/css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
    <script src="javascripts/html5shiv-printshiv.js"></script>
  </head>
  <body>
    <%- include components/navbar.html %>
    <div class="main-container">
      <h1 class="banner-text">Events</h1>
      <img class="banner-image" src="images/dark-warm-background.png"/>
    </div>
    <div class="main-content-container main-content-container-with-margin">
      <h1 class="container-banner">Events</h1>
      <%- include components/event-component.html%>
      <div class="see-more-link-container">
        <div class="see-more-link">
          See more
        </div>
      </div>
    </div>  
    <%- include components/footer.html %>
    <script src="javascripts/navbarController.js"></script>  
  </body>
</html>
