/*event-component styles*/

@import "universal.less";

.read-more-link{
  .font-muli-700;
  float:right;
  font-size:20px;
  text-decoration:none;
  color:@color-black-1;
  margin-top:15px;
  .cta-link;
  .prevent-highlight-text;
  cursor:pointer;
}

.read-more-link:active{
  background-color:#f1f1f1;
}

.read-more-link:hover{
  text-decoration:none;
}

.event-section{
  margin-top:30px;
}

.event-image{
  width:100%;
}

.time-styles{
  font-size: 30px;
  .font-spectral-700;
  line-height:1;
}

.event-name{
  font-family: spectral;
  font-size: 45px;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 30px;
}


.event-description{
  font-family: muli;
  font-size: 18px;
}

.date{
}

.time{
  margin-bottom:15px;
}

@media(min-width:320px){
  .time-styles{
    font-size:20px;
  }
  .event-title{
    font-size:30px;
  }
}
@media(min-width:480px){

}
@media(min-width:768px){
  .time-styles{
    font-size:30px;
  }
  .event-title{
    font-size:45px;
  }
}
@media(min-width:1024px){

}


