/*News component*/
@import "universal";

.news-title{
  .font-spectral-400;
  font-size:45px;
  color:@color-black-1;
}

.news-excerpt{
  .font-muli-400;
  font-size:18px;
}

.news-image{
  float:none;
  width:100%;
  margin:auto;
}

.read-more-link{
  .prevent-highlight-text;
  .see-more-link;
  float:right;
  font-family:muli;
  font-size:20px;
  font-weight:700;
  text-decoration:none;
  color:@color-black-1;
  margin-top:15px;
  .cta-link;
}

.read-more-link:hover{
  text-decoration:none;
}

.read-more-link:active{
  background-color:#f1f1f1;
}
.news-banner-text{
  .banner-text;
}
@media (min-width:320px){
  .news-title{
    font-size:30px;
  }
  .news-banner-text{
    top:0px;  
    font-size:45px;
  }
}
@media (min-width:480px){
  .news-banner-text{
    top:0px; 
    font-size:60px; 
  }
}
@media (min-width:768px){
  .news-title{
    font-size:45px;
  }
  .news-banner-text{
    top:0px;  
    font-size:100px; 
  }
}
@media (min-width:1024px){
  .news-banner-text{
    top:40px;  
  }
}
