/*News component*/
@import "universal";

.news-title{
  font-family:Spectral;
  font-weight:400;
  font-size:45px;
  color:@color-black-1;
}

.news-excerpt{
  font-family:muli;
  font-weight:400;
  font-size:18px;
}

.news-image{
  float:none;
  width:100%;
  margin:auto;
}

.read-more-link{
  float:right;
  font-family:muli;
  font-size:20px;
  font-weight:700;
  text-decoration:none;
  color:@color-black-1;
  margin-top:15px;
  .cta-link;
}
