/*Universal styles, used on every page*/
/*Add muli font*/
@font-face{
  font-family: "Muli";
  font-weight: 300;
  src:url("../fonts/Muli/Muli-Light.ttf")format("truetype");
}
@font-face{
  font-family: "Muli";
  font-weight: 400;
  src:url("../fonts/Muli/Muli-Regular.ttf")format("truetype");
}
@font-face{
  font-family: "Muli";
  font-weight: 700;
  src:url("../fonts/Muli/Muli-Bold.ttf")format("truetype");
}
@font-face{
  font-family: "Muli";
  font-weight: 300;
  font-style: italic;
  src:url("../fonts/Muli/Muli-LightItalic.ttf")format("truetype");
}
@font-face{
  font-family: "Muli";
  font-weight: 400;
  font-style: italic;
  src:url("../fonts/Muli/Muli-RegularItalic.ttf")format("truetype");
}
@font-face{
  font-family: "Muli";
  font-weight: 700;
  font-style: italic;
  src:url("../fonts/Muli/Muli-BoldItalic.ttf")format("truetype");
}

/*Add Spectral font*/

@font-face{
  font-family:"Spectral";
  font-weight:300;
  font-style:normal;
  src:("../fonts/Spectral/Spectral-Light.ttf")format("truetype");
}
@font-face{
  font-family:"Spectral"
  font-weight:400;
  font-style:normal;
  src:("../fonts/Spectral/Spectral-Regular.ttf")format("truetype");
}
@font-face{
  font-family:"Spectral"
  font-weight:700;
  font-style:normal;
  src:("../fonts/Spectral/Spectral-Bold.ttf")format("truetype");
}
@font-face{
  font-family:"Spectral"
  font-weight:300
  font-style:italic;
  src:("../fonts/Spectral/Spectral-LightItalic.ttf")format("truetype");
}
@font-face{
  font-family:"Spectral"
  font-weight:400;
  font-style:italic;
  src:("../fonts/Spectral/Spectral-RegularItalic.ttf")format("truetype");
}
@font-face{
  font-family:"Spectral"
  font-weight:700;
  font-style:italic;
  src:("../fonts/Spectral/Spectral-BoldItalic.ttf")format("truetype");
}

.color-black-1{
  color:#020202;
}

.color-black-2{
  color:#0f0f0f;
}

.color-black-3{
  color:
}
